<!-- <div class="row" id="company-profile">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-body">
              <div class="wideget-user">
                  <div class="row">
                      <div class="col-lg-6 col-md-12">
                          <div class="wideget-user-desc d-flex">
                              <div class="user-wrap">
                                  <h4>Company Name : {{ companies.company_name }}</h4>
                                  <h6 class="text-muted mb-3">Type: {{ companies.type }}</h6>
                                  
                                  <div class="row">
                                      <div class="col-md-6">
                                          <p><strong>Registration Number:</strong> {{ companies.registration_number }}</p>
                                          <p><strong>Number of Employees:</strong> {{ companies.number_of_employees }}</p>
                                      </div>
                                      <div class="col-md-6">
                                          <p><strong>Solar EPC Since:</strong> {{ companies.solar_epc_since }}</p>
                                          <p><strong>Project Completed Till Date:</strong> {{ companies.project_completed_till_date }}</p>
                                      </div>
                                  </div>
                                  
                                  <div class="row">
                                      <div class="col-md-6">
                                          <p><strong>Total Capacity Installed Till Date:</strong> {{ companies.total_capacity_installed_till_date }} {{ companies.total_capacity_installed_till_date_unit }}</p>
                                          <p><strong>Status:</strong> {{ companies.status ? 'Active' : 'Inactive' }}</p>
                                      </div>
                                      <div class="col-md-6">
                                          <p><strong>Service Types:</strong> {{ companies.service_types.join(', ') }}</p>
                                          <p><strong>Customer Types:</strong> {{ companies.customer_types.join(', ') }}</p>
                                      </div>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-12 text-right">
                   
                          <div class="mb-3">
                              <button *ngIf="companies" class="btn btn-primary" (click)="editCompany(companies.id)">Edit</button>
                              <button *ngIf="!companies" class="btn btn-primary" (click)="addCompany()">Add</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->
