<!-- <app-header-breadcrumb title="Notification List"title1="Pages" activeitem="Notification List"></app-header-breadcrumb>
 -->

<!-- <div class="container">
    <a routerLink="/pages/add-reminder" class="dropdown-item text-center p-3 text-muted">Set Reminder</a>
    
  <ul class="notification">
      <li>
          <div class="notification-time">
              <span class="date">Today</span>
              <span class="time">02:31</span>
          </div>
          <div class="notification-icon">
              <a href="javascript:void(0);"></a>
          </div>
          <div class="notification-time-date mb-2 d-block d-md-none">
              <span class="date">Today</span>
              <span class="time ms-2">02:31</span>
          </div>
          <div class="notification-body">
              <div class="media mt-0">
               <img class="avatar avatar-md brround cover-image"  src="./assets/images/users/11.jpg">


                  <div class="media-body ms-3 d-flex">
                      <div class="">
                          <p class="fs-15 text-dark fw-bold mb-0">Dennis Trexy</p>
                          <p class="mb-0 fs-13 text-dark">2 Members Accepted your Request.</p>
                      </div>
                      <div class="notify-time">
                          <p class="mb-0 text-muted fs-11">2 Hrs ago</p>
                      </div>
                  </div>
              </div>
          </div>
      </li>
      <li>
          <div class="notification-time">
              <span class="date">Yesterday</span>
              <span class="time">18:47</span>
          </div>
          <div class="notification-icon">
              <a href="javascript:void(0);"></a>
          </div>
          <div class="notification-time-date mb-2 d-block d-md-none">
              <span class="date">Yesterday</span>
              <span class="time ms-2">18:47</span>
          </div>
          <div class="notification-body">
              <div class="media mt-0">
                  <div class="main-avatar avatar-md offline">
                      <span class="avatar avatar-md brround bg-pink me-3">ED</span>
                  </div>
                  <div class="media-body ms-3 d-flex">
                      <div class="">
                          <p class="fs-15 text-dark fw-bold mb-0">Eileen Dover</p>
                          <p class="mb-0 fs-13 text-dark">Created New Template for Designing Department.</p>
                      </div>
                      <div class="notify-time">
                          <p class="mb-0 text-muted fs-11">18:47</p>
                      </div>
                  </div>
              </div>
          </div>
      </li>
      <li>
          <div class="notification-time">
              <span class="date">Yesterday</span>
              <span class="time">06:43</span>
          </div>
          <div class="notification-icon">
              <a href="javascript:void(0);"></a>
          </div>
          <div class="notification-time-date mb-2 d-block d-md-none">
              <span class="date">Yesterday</span>
              <span class="time ms-2">06:43</span>
          </div>
          <div class="notification-body">
              <div class="media mt-0">
                  <img class="avatar avatar-md brround cover-image"  src="./assets/images/users/10.jpg">
            
                  <div class="media-body ms-3 d-flex">
                      <div class="">
                          <p class="fs-15 text-dark fw-bold mb-0">Elida Distefa<span class="badge bg-success ms-3 px-2 pb-1 mb-1">New Deal</span></p>
                          <p class="mb-0 fs-13 text-dark">Shipment is Out for Delivery.</p>
                      </div>
                      <div class="notify-time">
                          <p class="mb-0 text-muted fs-11">06:43</p>
                      </div>
                  </div>
              </div>
          </div>
      </li>
      <li>
          <div class="notification-time">
              <span class="date">23 Oct</span>
              <span class="time">03:15</span>
          </div>
          <div class="notification-icon">
              <a href="javascript:void(0);"></a>
          </div>
          <div class="notification-time-date mb-2 d-block d-md-none">
              <span class="date">23 Oct</span>
              <span class="time ms-2">03:15</span>
          </div>
          <div class="notification-body">
              <div class="media mt-0">
                  <img class="avatar avatar-md brround cover-image"  src="./assets/images/users/11.jpg">
            
                  <div class="media-body ms-3 d-flex">
                      <div class="">
                          <p class="fs-15 text-dark fw-bold mb-0">Harvey Mattos</p>
                          <p class="mb-0 fs-13 text-dark">Mentioned you in a post.</p>
                      </div>
                      <div class="notify-time">
                          <p class="mb-0 text-muted fs-11">03:15</p>
                      </div>
                  </div>
              </div>
          </div>
      </li>
      <li>
          <div class="notification-time">
              <span class="date">15 Oct</span>
              <span class="time">12:14</span>
          </div>
          <div class="notification-icon">
              <a href="javascript:void(0);"></a>
          </div>
          <div class="notification-time-date mb-2 d-block d-md-none">
              <span class="date">15 Oct</span>
              <span class="time ms-2">12:14</span>
          </div>
          <div class="notification-body">
              <div class="media mt-0">
                  <div class="main-avatar avatar-md offline">
                      <span class="avatar avatar-md brround me-3 bg-primary">IH</span>
                  </div>
                  <div class="media-body ms-3 d-flex">
                      <div class="">
                          <p class="fs-15 text-dark fw-bold mb-0">Catrice Doshier</p>
                          <p class="mb-0 fs-13 text-dark">2 Members Accepted your Request.</p>
                      </div>
                      <div class="notify-time">
                          <p class="mb-0 text-muted fs-11">12:14</p>
                      </div>
                  </div>
              </div>
          </div>
      </li>
      <li>
          <div class="notification-time">
              <span class="date">30 Sep</span>
              <span class="time">14:04</span>
          </div>
          <div class="notification-icon">
              <a href="javascript:void(0);"></a>
          </div>
          <div class="notification-time-date mb-2 d-block d-md-none">
              <span class="date">30 Sep</span>
              <span class="time ms-2">14:04</span>
          </div>
          <div class="notification-body">
              <div class="media mt-0">
                  <img class="avatar avatar-md brround cover-image"  src="./assets/images/users/11.jpg">
 

                  <div class="media-body ms-3 d-flex">
                      <div class="">
                          <p class="fs-15 text-dark fw-bold mb-0">Mercy Ritia<span class="badge bg-danger ms-3 px-2 pb-1 mb-1">Last Deal</span></p>
                          <p class="mb-0 fs-13 text-dark">Created New Template for Designing Department.</p>
                      </div>
                      <div class="notify-time">
                          <p class="mb-0 text-muted fs-11">14:04</p>
                      </div>
                  </div>
              </div>
          </div>
      </li>
      <li>
          <div class="notification-time">
              <span class="date">18 Sep</span>
              <span class="time">12:26</span>
          </div>
          <div class="notification-icon">
              <a href="javascript:void(0);"></a>
          </div>
          <div class="notification-time-date mb-2 d-block d-md-none">
              <span class="date">18 Sep</span>
              <span class="time ms-2">12:26</span>
          </div>
          <div class="notification-body">
              <div class="media mt-0">
                  <img class="avatar avatar-md brround cover-image" src="./assets/images/users/11.jpg">
                   
                  <div class="media-body ms-3 d-flex">
                      <div class="">
                          <p class="fs-15 text-dark fw-bold mb-0">Mark Jhon</p>
                          <p class="mb-0 fs-13 text-dark">Shipment is Out for Delivery.</p>
                      </div>
                      <div class="notify-time">
                          <p class="mb-0 text-muted fs-11">12:26</p>
                      </div>
                  </div>
              </div>
          </div>
      </li>
      <li>
          <div class="notification-time">
              <span class="date">03 Sep</span>
              <span class="time">05:37</span>
          </div>
          <div class="notification-icon">
              <a href="javascript:void(0);"></a>
          </div>
          <div class="notification-time-date mb-2 d-block d-md-none">
              <span class="date">03 Sep</span>
              <span class="time ms-2">05:37</span>
          </div>
          <div class="notification-body">
              <div class="media mt-0">
                  <img class="avatar avatar-md brround cover-image"  src="./assets/images/users/11.jpg">
     
                  <div class="media-body ms-3 d-flex">
                      <div class="">
                          <p class="fs-15 text-dark fw-bold mb-0">Benedict Vallone</p>
                          <p class="mb-0 fs-13 text-dark">Thanking you for Accepting Request.</p>
                      </div>
                      <div class="notify-time">
                          <p class="mb-0 text-muted fs-11">05:37</p>
                      </div>
                  </div>
              </div>
          </div>
      </li>
      <li>
          <div class="notification-time">
              <span class="date">28 Aug</span>
              <span class="time">15:24</span>
          </div>
          <div class="notification-icon">
              <a href="javascript:void(0);"></a>
          </div>
          <div class="notification-time-date mb-2 d-block d-md-none">
              <span class="date">28 Aug</span>
              <span class="time ms-2">15:24</span>
          </div>
          <div class="notification-body">
              <div class="media mt-0">
                  <div class="main-avatar avatar-md">
                      <span class="avatar avatar-md brround me-3 bg-secondary">IH</span>
                  </div>
                  <div class="media-body ms-3 d-flex">
                      <div class="">
                          <p class="fs-15 text-dark fw-bold mb-0">Paul Johny</p>
                          <p class="mb-0 fs-13 text-dark">Invited you to a Group.</p>
                      </div>
                      <div class="notify-time">
                          <p class="mb-0 text-muted fs-11">15:24</p>
                      </div>
                  </div>
              </div>
          </div>
      </li>
  </ul>
  <div class="text-center mb-4">
      <button class="btn ripple btn-primary w-md">Load more</button>
  </div>
</div> -->
<div class="container-fluid" style="margin-top: 10px;padding-top:0px !important">
    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="card body-radius mb-3">
                <div class="card-body p-2">
                    <div class="card-header-section">
                        <div class="row">
                          <div class="col-6">
                            <h4 class=" header-title">Reminders</h4>
                          </div>
                          
                        </div>
                      </div>
                    
                    &nbsp;
                    <div class="row d-flex align-items-center">
                        <!-- Month Name -->
                        <div class="col-md-3 d-flex align-items-center">
                            <h3 class="mb-0" style="font-weight: bold; line-height: 35px; margin-left: 10px !important;">{{ getFormattedViewTitle() }}</h3>
                        </div>
                    
                        <!-- Previous and Next Buttons -->
                        <div class="col-md-4 text-start" style="position: relative;">
                            <div class="btn-group d-flex align-items-start " style="position: absolute; left: 50px; margin-top: -20px !important;">
                                <button 
                                    class="btn d-flex align-items-center justify-content-center rounded-circle" 
                                    style="width: 40px; height: 40px; background-color: gainsboro; border: none;" 
                                    mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" 
                                    (viewDateChange)="closeOpenMonthViewDay()">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                </button>
                                <button 
                                    class="btn d-flex align-items-center justify-content-center rounded-circle" 
                                    style="width: 40px; height: 40px; background-color: #200D63; color: white; margin-left: 10px; border: none;" 
                                    mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" 
                                    (viewDateChange)="closeOpenMonthViewDay()">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    
                        <!-- View Buttons and Add New -->
                        <div class="col-md-5 text-end d-flex justify-content-end align-items-center">
                            <div class="btn-group">
                                <!-- Month Button -->
                                <button 
                                    class=" d-flex align-items-center justify-content-center button-backone" 
                                     
                                    (click)="setView(CalendarView.Month)" 
                                    [class.active]="view === CalendarView.Month">
                                    Month
                                </button>
                                &nbsp;
                                <!-- Week Button -->
                                <button 
                                    class=" d-flex align-items-center justify-content-center button-backone" 
                                    
                                    (click)="setView(CalendarView.Week)" 
                                    [class.active]="view === CalendarView.Week">
                                    Week
                                </button>
                                &nbsp;
                                <!-- Add New Button -->
                                <!-- <button 
                                    class=" d-flex align-items-center justify-content-center" 
                                    style="color: #FFFFFF; background-color: #22A447; border-radius: 34px; height: 35px; width: 100px;" 
                                    (click)="addEditPage()">
                                    <img src="./assets/images/Plus-sign-white.svg" alt="Add New Icon" />
                                    &nbsp; Add New
                                </button> -->
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <br />
                    <br />
                    <div [ngSwitch]="view" class="one">
                        <span *ngIf="showCalendar">
                            <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate"
                                [activeDayIsOpen]="activeDayIsOpen" [events]="filterPastEvents(events)"
                                (dayClicked)="onDateSelected($event,viewModal)"
                                (eventClicked)="isEventPast($event.event) ? null : addEditPage2($event.event)">
                            </mwl-calendar-month-view>

                            <mwl-calendar-week-view [viewDate]="viewDate" *ngSwitchCase="CalendarView.Week"
                                [events]="filterPastEvents(events)"
                                (eventClicked)="isEventPast($event.event) ? null : addEditPage2($event.event)">
                            </mwl-calendar-week-view>
                        </span>

                    </div>
                    <!-- <mat-calendar [dateClass]="dateClass()" [ngClass]="{ 'highlight-date': highlightDate }"></mat-calendar> -->


                    <!-- <a routerLink="/pages/add-reminder" class="dropdown-item text-center p-3 text-muted">Set Reminder</a> -->

                    <!-- <ul class="notification">
    <li *ngFor="let notification of notifications">
          <div class="notification-time">
   
          </div>
          <div class="notification-icon">
              <a href="javascript:void(0);"></a>
          </div>
          <div class="notification-time-date mb-2 d-block d-md-none">
       
          </div>
          <div class="notification-body">
              <div class="media mt-0">
              
               <div class="me-3 notifyimg bg-primary brround box-shadow-primary">
                <i class="fe fe-bell"></i>
            </div>

                  <div class="media-body ms-3 d-flex">
                      <div class="">
                       <b>{{notification.notes}}</b>
                      </div>
                      <div class="notify-time">
                        <p class="mb-0 text-muted fs-11">{{ formatDateTime(notification.reminder_date) }}</p>
                      </div>
                      <div class="notify-time">
                        <br/>
                      <button class="mt-1" *ngIf="isTodayOrFuture(notification.reminder_date)">
                        <i class="fa fa-pencil-square-o fs-20" style="color: #86bb46" title="Edit" (click)="addEditPage1(notification.id)"></i>
                      </button>
                      <button (click)="openConfirmationModal(notification.id,confirmationModal)">
                        <i class="fa fa-trash-o fs-20 text-danger" title="Delete"></i>
                      </button>
                      </div>
                  </div>
              </div>
          </div>
      </li>
     
  </ul> -->
                    <!-- <div class="text-center mb-4">
      <button class="btn ripple btn-primary w-md">Load more</button>
  </div> -->
                </div>
            </div>
        </div>
    </div>


    <ng-template #confirmationModal let-modal>
        <div class="modal-header custom-modal-header">
            <p class="modal-title" id="confirmationModalLabel">Confirmation</p>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <img src="./assets/images/confirmation-crossmark.svg" alt="Description of the image" />
            </button>
        </div>
        <div class="modal-body text-center custom-modal-body">
            Are you sure you want to delete this reminder?
        </div>
        <div class="modal-footer custom-modal-footer">
            <button type="button" (click)="deleteNotification()" class=" btn-custom-yes">Yes</button>
            <button type="button" class=" btn-custom-no" (click)="modal.dismiss()">No</button>
        </div>
    </ng-template>




    <ng-template #viewModal let-modal>
        <div class="border-radius-25 card shadow-none p-3">
    
            <!-- Moved Header Inside Body -->
            <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="modal-title remainder mb-0 ms-1">Reminder List</p>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <img src="./assets/images/confirmation-crossmark.svg" alt="Close">
                </button>
            </div>
    
            <!-- Table Content -->
            <div class="border-radius-25 card shadow-none mt-3">
            <form class="ngb-table border-radius-25">
                <div class="table-responsive border-radius-25">
                    <table mat-table class="table table-hover border-radius-25">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Date & Time</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let notification of remindersList">
                                <td>{{ notification.title }}</td>
                                <td>
                                    {{ formatDateTime(notification.start) }}
                                </td>
                                <td>
                                    <button class="mt-1" 
                                        *ngIf="isDateTimeTodayOrFuture(notification.start)" 
                                        (click)="addEditPage1(notification.id)" 
                                        class="table-btn edit-btn">
                                        <i class="fa fa-pencil fs-16" title="Edit"></i>
                                    </button>
                                    <!-- <button (click)="openConfirmationModal(notification.id, confirmationModal)" 
                                        class="table-btn delete-btn">
                                        <i class="fa fa-trash fs-16" title="Delete"></i>
                                    </button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            </div>
    
            <!-- Moved Footer Inside Body -->
            <div class="d-flex justify-content-end mt-3">
                <button type="button" class="btn button-cancelModal cancel-btn" (click)="modal.dismiss()">Cancel</button>
            </div>
    
        </div>
    </ng-template>
    