// .card-body margin {

//     margin: 50px !important;
// }

.mat-standard-button-toggle-height {
    height: 42px !important;
}

.color {
    border-color: #22A447 !important
}

.main {
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}

.mainpadding {
    padding-top: 0% !important;
    padding-bottom: 0 !important;
}

.title-card {
    background-color: #F6F6F6;
    border: 1px solid #CBCBCB;
}

.colPadding {
    padding-top: 8px !important;
    padding-bottom: 7px !important;
}

.mainBottom {

    padding-bottom: 10px !important;
}

.btn-listing-icon {
    background: #fff;
    border-radius: 50%;
    width: 29px;
    height: 31px;
    padding: 8px !important;
    font-size: 18px;
    margin-right: 14px;
}