/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; /* Enables smooth scrolling */
}

.header-logo {
    max-width: 140px; /* Adjust this size as needed */
    height: auto;
    display: block;
    margin-left: 30px !important;
    margin-right: 30px !important;
}

nav {
    display: flex;
    flex-grow: 1; /* This ensures that the nav takes up the remaining width */
    justify-content: flex-start; /* Start aligning items from left */
}

/* Top bar */
.top-bar {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}

/* Apply background color only to this page */
.page-wrapper-orange {
    min-height: 100vh; /* Ensures it covers the full page */
    width: 100%;
    background-image: url('../../../../assets/images/shadow-circle.svg') !important;
}

.page-wrapper-blue {
    min-height: 100vh;
    width: 100%;
    background-image: url('../../../../assets/images/ellipse blue.svg') !important;
}

.page-wrapper-green {
    min-height: 100vh;
    width: 100%;
    background-image: url('../../../../assets/images/ellipse green.svg') !important;
}

.add-margin {
    margin-top: 10px !important;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 25px; /* Places header below the top-bar */
    left: 0;
    z-index: 1000;
    padding: 0 10px;
}

/* Navbar */
nav ul {
    list-style: none;
    display: flex;
    flex-grow: 0.9; /* Allow the list to take up full width */
    justify-content: space-around; /* Spread the items evenly */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.hamburger {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

/* Hover effect */
nav ul li a:hover,
nav ul li a.active {
    color: var(--primary-color);
    border-radius: 5px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
a.icon:hover {
    color: var(--primary-color) !important;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}


/* Full-width banner image */
.banner-image {
    width: 100%;
    height: auto;
    display: block;
}

/* Image container (below banner image) */


/* First image */
.image-width {
    width: 45%; /* Adjust width */
    height: auto;
    display: block;
}

/* Second image */
.image-width1 {
    width: 55%; /* Adjust width */
    height: auto;
}



.para-width {
    width: 100%;
   
}

.banner-text {
    position: absolute; /* Position text on top of the image */
    top: 20%; /* Center vertically */
    left: 28%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact centering */
    text-align: start; /* Center-align text */
    color: white; /* Text color */
    // background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
    padding: 20px; /* Add padding for spacing */
    // border-radius: 10px; /* Optional: Add rounded corners */
     /* Limit text width for better readability */
}

.banner-text h1 {
    margin: 0; /* Remove default margin */
    font-size: 2.5rem; /* Adjust heading size */
}

.banner-text p {
    margin-top: 30px !important;
    margin: 10px 0 0; /* Add spacing between heading and paragraph */
    font-size: 0.9rem; /* Adjust paragraph text size */
}



.overlay-text h1 {
    margin: 0; /* Removes default margin */
    font-size: 2.5rem; /* Adjust heading size */
}

.overlay-text p {
    margin-top: 30px !important;
    margin: 10px 0 0; /* Adds spacing between heading and paragraph */
    font-size: 0.9rem; /* Adjust paragraph text size */
}



.overlay-text-right {
    position: absolute; /* Positions the text over the image */
    top: 20%; /* Adjust vertical position */
    left: 65%; /* Adjust horizontal position */
    transform: translate(-50%, -50%); /* Centers the text */
    text-align: start; /* Centers the text horizontally */
    color: white; /* Text color */
    // background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
    padding: 20px; /* Adds space around the text */
    // border-radius: 10px; /* Optional: Rounds the corners of the overlay */
}

.overlay-text-right h1 {
    margin: 0; /* Removes default margin */
    font-size: 2.5rem; /* Adjust heading size */
}

.overlay-text-right p {
    margin-top: 30px !important;
    margin: 10px 0 0; /* Adds spacing between heading and paragraph */
    font-size: 0.9rem; /* Adjust paragraph text size */
}

.button-view {
    margin-top: 20px !important;
    color: #ffffff;
    border: 1px solid var(--primary-color);
    text-align: center;
    height: 62px;
    width: 206px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;

    

}
.gradient-line {
    width: 100%;
    position: absolute;
    // margin-left: 45px;
    margin-top: 10px;
    height: 3px; /* Adjust thickness */
    background: linear-gradient(to right, var(--primary-color), rgba(255, 255, 255, 0)); /* Fade effect */
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}
.hero img {
    width: 100%;
    margin-top: 50px !important;
    height: auto;
    border-radius: 15px;
    // max-width: 1430px;
    // max-height: 750px;
    // display: block;
    // margin-left: 23px !important;
}

.hero-text {
    position: absolute;
    top: 15%;
    left: 5%;
    // transform: translate(-40%, -40%);
    padding: 20px;
    border-radius: 10px;
}

.hero-text h4 {
    font-size: 4em;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: start;
}



.hero-text p {
    margin-top: 20px !important;
    font-size: 1.2em;
    text-align: start;
    font-weight: 400;
    color: #161616;
}

/* Bottom right box */
.bottom-right-box {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 70px; /* Adjust as needed */
    background-color: #161616;
    padding: 20px;
    border-radius: 15px;
    color: white;
    width: 30%;
    text-align: center;
    // width: 457px; /* Fixed width */
    height: 250px; /* Fixed height */
    display: flex;
    flex-direction: column; /* Align items in a row */
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center items */
     /* Add space between h2 and p */
}

.bottom-right-box h2 {
    font-size: 6em;
    margin: 0; /* Move h2 up by 10px */
    color: white;
}

.bottom-right-box p {
    font-size: 1em;
    margin: 0; /* Adjust margin to align with h2 */
    color: white;
    text-align: start;
}

.top-content {
    display: flex;
    font-size: 1.3em;
    flex-direction: row; /* Align h2 and first p in one line */
    align-items: center; /* Vertically center h2 and p */
    gap: 10px; /* Space between h2 and p */
    margin-top: -15%;
}

.bottom-text1 {
    
    margin-top: 30px; /* Add space between top content and bottom text */
    color: white;
    text-align: center;
}

.font-size {
    font-weight: 500;
    font-size: 65px;
    
}

.logo {
    display: flex;
    align-items: center;
}

/* Sections */
section {
    padding: 60px 20px;
    text-align: center;
}

/* Headings */
h1 {
    margin-bottom: 10px;
    color: var(--primary-color); /* Use primary color */
}

p {
    color: #ffffff;
}

.bottom-pad {
    margin-bottom: 20px !important;
}

/* Card Container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between cards */
    justify-content: center;
    padding: 20px;
}

/* Individual Card */
.card {
    background: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 23.5%;
    height: 300px; /* Fixed width for each card */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #484848;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-color); /* Change background color to primary color on hover */
}

/* Change h2 color on hover */
.card:hover h2 {
    color: #ffffff !important;
}

.banner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adjust spacing */
}

.project-card {
    transition: all 0.3s ease-in-out;
}

.full-width {
    width: 100%;
}

.half-width {
    width: calc(50% - 8px); /* Adjust width considering the gap */
}

.image-container {
    position: relative;
    overflow: hidden;
}

.project-image {
    width: 100%;
    height: 500px ;
    display: block;
    border-radius: 20px;
    opacity: 50%;
    
}

::ng-deep #back-to-top {
    background-color: var(--primary-color) !important;

    &:hover {
        // color: #fff;
        background-color: var(--primary-color) !important;
        border-color: var(--primary-color) !important;
        ;
    }
}


.overlay-text {
    position: absolute;
    top: 40px; /* Adjust spacing from the top */
    left: 50px; /* Adjust spacing from the left */
    // background: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
    color: white;
    padding: 10px;
    text-align: left; /* Align text to the left */
    border-radius: 5px; /* Optional: rounded corners */
}






/* Card Heading (Number) */
.card h2 {
    font-size: 4em;
    margin: 0;
    color: var(--primary-color);
    margin-top: 30px !important;
}

/* Year Text */
.card .year {
    font-size: 1.2em;
    color: #b0b0b0;
    margin: 10px 0;
}

/* Title Text */
.card .title {
    font-size: 1em;
    color: #ffffff;
    margin: 10px 0;
    font-weight: bold;
    margin-top: 60px !important;
}

/* Description Text */
.card .description {
    font-size: 1em;
    color: #666;
    margin: 10px 0;
}

.card-image {
    width: 274px;
    height: 289px;
    border-radius: 15px ;
}

.team-card {
    position: relative;
    background: #363636;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 95%; /* Each card takes 25% width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

// .team-card:hover {
//     transform: translateY(-5px);
// }

/* Image */
.image-container-team {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.image-container-team img {
    width: 100%;
    border-radius: 10px;
    transition: filter 0.3s ease-in-out;
    height: 300px; /* Adjust image height */
}

/* Hover Effect for Social Icons */
.image-container-team:hover img {
    filter: brightness(40%);
}

/* Social Icons */
.social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 icons per row */
    gap: 10px;
    width: max-content;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    justify-items: center; /* Ensures centering when <3 icons */
    align-items: center;
}

.social-icons:has(.icon:nth-child(1):nth-last-child(1)) {
    display: flex;
    justify-content: center;
}

.social-icons:has(.icon:nth-child(1):nth-last-child(2)) {
    display: flex;
    justify-content: center;
}

.image-container-team:hover .social-icons {
    opacity: 1;
}

/* Individual Icon */
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 16px;
    border-radius: 50%;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.2);
}



/* Name & Role */
.team-info {
    text-align: start;
    padding: 10px;
    width: 100%;
}

.team-info h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #ffffff;
}

.team-info p {
    color: #b0b0b0;
    font-size: 0.9em;
}

/* Bootstrap Grid - Ensure Each Card Takes 25% Width */
.carousel-item .row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* Ensures cards remain in a single row */
    width: 100%;
    bottom: -60%;

}

.carousel-indicators {
    bottom: -60px !important;
}


.carousel-item .col-lg-3 {
    flex: 0 0 25%; /* Force 25% width */
    max-width: 25%;
}

/* Carousel Indicators */
.carousel-indicators button {
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    
}

.carousel-indicators .active {
    background-color: var(--primary-color);
}

/* Responsive Design */
@media (max-width: 992px) {
    .carousel-item .col-lg-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .carousel-item .col-lg-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


.testimonial-container {
    position: relative;
    width: 93%;
    margin-top: 45px;
    background-color: #272727;
    padding: 20px;
    min-height: 40vh;
    margin: auto;
    border-radius: 15px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
   
    justify-content: space-between;
    border: 1px solid #363636;
    margin-top: 40px;
}

/* Quote Text */
.testimonial-quote {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: #ffffff;
    align-items: center;
    margin-bottom: 10px;
}

/* Main Testimonial Text */
.testimonial-text {
    font-size: 14px;
    color: #9e9e9e;
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: center;
    width: 100%;
}

/* User Details */
.testimonial-user {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    // position: absolute;
    bottom: 20px;
    justify-content: flex-start;
    
}

.user-image {
    width: 99px;
    height: 104px;
    border-radius: 25%;
    object-fit: cover;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color);
}

.user-role {
    font-size: 12px;
    color: #bbb;
}

:deep(#testimonialCarousel .carousel-indicators) {
    display: none !important;
}









/* Bootstrap Carousel Arrows */
::ng-deep ngb-carousel .carousel-control-prev,
::ng-deep ngb-carousel .carousel-control-next {
    width: 50px;
    height: 60px;
    background-color: #5e5e5e;
    // border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease;
}

::ng-deep ngb-carousel .carousel-control-next{
    background-color: var(--primary-color);
}

::ng-deep ngb-carousel .carousel-control-prev-icon,
::ng-deep ngb-carousel .carousel-control-next-icon {
    width: 20px;
    height: 20px;
    color: #161616;
}

/* Carousel Indicators */
::ng-deep ngb-carousel .carousel-indicators button {
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

::ng-deep ngb-carousel .carousel-indicators .active {
    background-color: var(--primary-color);
}

.contact-us {
    margin-top: 3%;
    color: #ffffff;
    text-align: start;
    font-size: 40px;
    font-weight: 600;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

/* Contact Box */
.contact-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    // max-width: 1342px;
    // background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    // box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid #c9c9c9;
}

/* Contact Item (Address, Contact, QR Code) */
.contact-item {
    flex: 1;
    text-align: left;
    padding: 10px;
    margin-left: 50px !important;
}

.align-margin {
    margin-top: -30px !important;
}

/* Headings */
.contact-item h3 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
}

/* Contact Info */
.contact-item p {
    font-size: 14px;
    color: #bbb;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

/* Icons */
.contact-item i {
    color: var(--primary-color);
    margin-right: 10px;
}

/* Links */
.contact-item a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.contact-item a:hover {
    color: var(--primary-color);
}

/* QR Code Styling */
.qr-code img {
    width: 80px;
    height: 80px;
    margin-left: 100px !important;
}

.circle-border {
    height: 15px !important;
    width: 15px !important;
    border-radius: 50%;
    margin-top: -26px !important;
    margin-left: -26px !important;

}

.circle-border-testinomial {
    position: absolute;
    height: 15px !important;
    width: 15px !important;
    border-radius: 50%;
    top: -4px; /* ✅ Adjust vertical position */
    left: -1px;

}

.img-test{
    position: absolute;
    top: 315px;
    right: 60px;
}

.circle-border-contact {
    
    height: 25px !important;
    width: 25px !important;
    border-radius: 50%;
    margin-top: 40px !important;
    margin-left: 60px !important;
    

}

.contact-header {
    display: flex;
    align-items: center; /* Align items vertically */
    gap: 20px; /* Add spacing between elements */
}

.fa-map-marker:before {
    content: "\f041";
    font-size: 30px;
    color: var(--primary-color);
}

.fa-phone:before {
    content: "\f095";
    font-size: 25px;
    color: var(--primary-color);
}

.fa-envelope:before {
    content: "\f0e0";
    font-size: 22px;
    color: var(--primary-color);
}

@media (max-width: 1024px) {
.col-lg-3 {
    flex: 0 0 33%;
    max-width: 35%;
}
}




/* Responsive Design */
@media (max-width: 768px) {
    .header-logo {
        max-width: 120px; /* Reduce logo size */
        margin-left: 15px !important;
        margin-right: 15px !important;
    }

    .hero-text h4 {
        font-size: 3em; /* Reduce font size */
        text-align: start;
        margin-top: 20px;
        font-weight: 600;
    }

    .hero-text p {
        font-size: 1em; /* Adjust paragraph size */
        text-align: start;
        font-weight: 400;
        color: #161616;
    }

    header {
        height: 60px; /* Reduce header height */
        padding: 0 10px;
    }

    nav ul {
        flex-grow: 1; /* Ensure spacing */
        justify-content: center; /* Center navigation */
    }

    nav ul li {
        margin: 0 10px; /* Reduce spacing between items */
    }

    nav ul li a {
        font-size: 14px; /* Reduce font size */
        padding: 8px;
    }
    .bottom-right-box {
        width: 45%; /* Increase width for smaller screens */
         /* Adjust positioning */
        height: auto; /* Auto height for content flexibility */
        padding: 15px; /* Reduce padding */
    }

    .bottom-right-box h2 {
        font-size: 4em; /* Reduce heading size */
    }

    .bottom-right-box p {
        font-size: 0.9em; /* Adjust paragraph size */
    }

    .top-content {
        // flex-direction: column; /* Stack items */
        align-items: center;
        margin-top: -5%;
    }

    .bottom-text1 {
        margin-top: 20px;
    }

    .font-size {
        font-size: 50px; /* Adjust heading size */
    }
    .col-lg-3 {
        flex: 0 50%;
        max-width: 50%;
    }

    .card {
        width: 156px;
    }
    .card h2 {
        font-size: 2.5em;
    }
    .card .title {
        font-size: 1.2em;
    }

    .image-container {
        flex-direction: column; /* Stack images vertically on small screens */
        align-items: center;
    }

    .image-width, .image-width1 {
        width: 90%; /* Make images full width */
    }

    .testimonial-container {
        padding: 15px; /* Reduce padding for smaller screens */
        height: auto; /* Allow height to adjust dynamically */
    }

    .testimonial-quote {
        font-size: 18px; /* Reduce font size for mobile */
    }

    .testimonial-text {
        font-size: 12px; /* Reduce font size for mobile */
        width: 100% !important; /* Full width for better readability */
        margin-left: 0 !important; /* Remove left margin */
        margin-right: 0 !important; /* Remove right margin */
    }

    .user-image {
        width: 80px; /* Reduce image size for mobile */
        height: 85px;
    }

    .user-name {
        font-size: 14px; /* Reduce font size for mobile */
    }

    .user-role {
        font-size: 10px; /* Reduce font size for mobile */
    }

    .prev-btn,
    .next-btn {
        padding: 8px; /* Reduce button size for mobile */
        font-size: 14px; /* Adjust arrow size */
    }

    .prev-btn {
        left: -20px; /* Adjust position for mobile */
    }

    .next-btn {
        right: -20px; /* Adjust position for mobile */
    }

    .contact-box {
        flex-direction: column; /* Stack items vertically */
        text-align: center; /* Center align text */
        padding: 25px;
    }

    .contact-item {
        margin-left: 0 !important;
        text-align: center; /* Center align each section */
        padding: 15px;
        width: 100%; /* Ensure full width */
        display: flex;
        flex-direction: column;
        align-items: center; /* Center align items */
        justify-content: center;
    }

    .contact-item h3 {
        // font-size: 16px;
        // margin-bottom: 5px;
        width: 100%; /* Ensure full width */
        margin-top: 1px !important;
        text-align: center;
        font-size: 22px;
    }

    .contact-item p {
        font-size: 16px; /* Increase readability */
        display: flex;
        align-items: center; /* Align icon with text */
        // gap: 10px; /* Add space between icon and text */
        // margin-bottom: 8px;
    }

    .contact-item i {
        font-size: 16px; /* Adjust icon size */
        min-width: 25px; /* Ensure consistent spacing */
        color: var(--primary-color);
    }

    .contact-item a {
        font-size: 16px;
        text-decoration: none;
        color: #bbb;
        transition: color 0.3s ease-in-out;
    }

    .qr-code img {
        width: 80px;
        height: 80px;
        display: block;
        margin: 0 auto; /* Center QR code */
        margin-left: -50%;
        margin-left: 80px !important;
    }
    

    .contact-us {
        text-align: center;
        font-size: 25px;
        margin-left: 0;
    }
    .banner-image {
        width: 100%;
        height: auto;
    }

    /* Image Container (below banner image) */
    .image-container {
        flex-direction: column; /* Stack images vertically */
        gap: 15px; /* Increase space between images */
    }

    /* First Image */
    .image-width, .image-width1 {
        width: 100%; /* Make images full width */
        height: auto;
    }

    /* Banner Text */
    .banner-text {
        top: 10%; /* Adjust for smaller screens */
        left: 50%; /* Center the text */
        transform: translate(-50%, -50%);
        padding: 10px;
    }

    .banner-text h1 {
        font-size: 2rem; /* Adjust font size */
    }

    .banner-text p {
        font-size: 1rem; /* Adjust font size */
        margin-top: 15px;
    }

    /* Overlay Text */
    // .overlay-text, .overlay-text-right {
    //     position: absolute;
    //     top: 10%; /* Adjust position */
    //     left: 50%; /* Center the text */
    //     transform: translate(-50%, -50%);
    //     padding: 10px;
    //     text-align: center;
    //     font-size: 1rem; /* Adjust font size */
    // }

    // .overlay-text {
    //     left: 10%;
    // }

    /* Button Styling */
    .button-view {
        width: 100%; /* Make button full width */
        height: 50px; /* Adjust button height */
        font-size: 18px; /* Adjust font size */
        margin-top: 20px;
    }

    .circle-border-contact {
        height: 25px !important;
        width: 25px !important;
        margin-left: 60px !important;
        margin-top: 15px !important;
    }
}

@media (max-width: 480px) {

    .hamburger {
        display: block; /* Show hamburger button */
    }

    /* Hide the nav links initially */
    nav {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: black;
        display: none;
        text-align: center;
        padding: 10px;
    }

    /* Show the menu when it's active */
    nav.nav-active {
        display: block;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hero {
        text-align: center;
        position: relative;
        
    }
    .hero img {
        width: 100%;
        height: auto;
        margin-top: 80px !important;
        border-radius: 10px;
    }

    /* Hero Text (Heading & Paragraph) */
    .hero-text {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 10px;
        width: 90%;
    }

    .hero-text h4 {
        font-size: 1.5em; /* Reduce font size */
        text-align: start;
        margin-top: 20px;
        font-weight: 600;
    }

    .hero-text p {
        font-size: 0.7em; /* Adjust paragraph size */
        text-align: start;
        font-weight: 400;
        color: #161616;
    }

    /* Bottom Right Box */
    .bottom-right-box {
        position: relative;
        bottom: 0;
        right: 0;
        width: 90%; /* Adjust width for mobile */
        height: auto;
        margin: 20px auto; /* Center align */
        padding: 15px;
        text-align: center;
    }

    .bottom-right-box h2 {
        font-size: 3em; /* Reduce font size */
        margin: 5px 0;
    }

    .bottom-right-box p {
        font-size: 1em;
        text-align: center;
        margin-top: 5px;
    }

    .top-content {
        flex-direction: row; /* Stack items */
         align-items: center;
         gap: 5px;
    }

    .bottom-text1 {
        margin-top: 15px;
        font-size: 0.9em;
        text-align: center;
    }
    .card-container {
        flex-direction: column; /* Stack cards vertically */
        align-items: center; /* Center align cards */
    }

    .card {
        width: 90%; /* Make cards take full width */
        height: auto; /* Allow height to adjust */
        padding: 15px; /* Reduce padding for smaller screens */
    }

    .card h2 {
        font-size: 3em; /* Reduce font size */
    }

    .card .title {
        font-size: 0.9em;
        margin-top: 30px !important;
    }

    .card .description {
        font-size: 0.9em;
    }

    .card-image {
        width: 100%;
        height: auto; /* Keep aspect ratio */
    }

    .banner-container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align content */
    }

    .project-card {
        width: 100% !important; /* All projects take full width */
    }

    .overlay-text {
        position: absolute;
        top: 20px; /* Adjust for better spacing */
        left: 5%; /* Ensure it starts from the left */
        // width: 80%; /* Keep text within safe area */
    }

    .gradient-line {
        position: relative;
        width: 100%; /* Reduce width to fit mobile screens */
        height: 2px; /* Adjust thickness */
        // margin-top: 5px; /* Spacing below text */
        // margin-left: 43%; /* Move slightly right */
        background: linear-gradient(to right, var(--primary-color), rgba(255, 255, 255, 0));
    }

    .project-image {
        height: 250px; /* Reduce image height for mobile */
        border-radius: 15px; /* Keep rounded corners */
    }
    
    .overlay-text h2 {
        font-size: 16px; /* Reduce heading size */
        text-align: start;
    }

    .overlay-text p {
        font-size: 12px; /* Reduce paragraph size */
        margin-top: 15px !important;
        text-align: start;
    }

    section {
        padding-bottom: 20px;
        padding-top: 20px;
    }
  

    .button-view {
        width: 180px; /* Reduce button size */
        height: 50px;
        font-size: 16px;
    }

    /* Adjust heading and paragraph */
    h1.font-size {
        font-size: 22px; /* Reduce heading size */
        text-align: center;
    }

    p.para-width {
        font-size: 14px;
        text-align: center;
        padding: 0 15px;
    }
    .testimonial-container {
        width: 100%;
        padding: 10px;
    }

    .testimonial-quote {
        font-size: 14px;
    }

    .col-lg-3{
        flex: 0 100%;
        max-width: 100%;
    }

    .testimonial-text {
        font-size: 11px;
    }

    .user-image {
        width: 40px;
        height: 40px;
    }

    .prev-btn,
    .next-btn {
        padding: 6px;
        font-size: 12px;
        
    }
    .bottom-right-box {
        width: 100%; /* Make it take most of the width */
        left: 5px; /* Adjust positioning */
        height: 170px; /* Auto height */
        padding: 10px; /* Reduce padding */
        // bottom: 150px; /* Adjust position */
    }

    .bottom-right-box h2 {
        font-size: 3em; /* Further reduce heading size */
    }

    .bottom-right-box p {
        font-size: 0.8em; /* Reduce paragraph size */
    }

    .top-content {
        flex-direction: row; /* Stack items */
        // align-items: center;
        // gap: 5px; /* Reduce gap */
        // margin-top: 0;
    }

    .bottom-text1 {
        margin-top: 15px;
    }

    .font-size {
        font-size: 40px; /* Further adjust heading */
    }

    .contact-container {
        flex-direction: column;
         padding: 0px;
    }

    .contact-box {
        flex-direction: column;
        width: 100%;
        // padding: 15px;
        text-align: center;
    }

    .contact-item {
        text-align: left; /* Align text to left */
        padding: 10px;
        margin-left: 0 !important;
        display: flex; /* Keep icon and text in one line */
        align-items: center; /* Align icon and text vertically */
        gap: 10px; /* Add spacing between icon and text */
    }

    .contact-item h3 {
        // font-size: 16px;
        // margin-bottom: 5px;
        width: 100%; /* Ensure full width */
        margin-top: 1px !important;
        text-align: center;
    }

    .contact-item p {
        font-size: 14px; /* Increase readability */
        display: flex;
        align-items: center; /* Align icon with text */
        // gap: 10px; /* Add space between icon and text */
        // margin-bottom: 8px;
    }

    .contact-item i {
        font-size: 18px; /* Adjust icon size */
        min-width: 25px; /* Ensure consistent spacing */
        color: var(--primary-color);
    }

    .contact-item a {
        font-size: 14px;
        text-decoration: none;
        color: #bbb;
        transition: color 0.3s ease-in-out;
    }

    .contact-item a:hover {
        color: var(--primary-color);
    }

    .qr-code {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .qr-code img {
        width: 80px;
        height: 80px;
    }

    .contact-header {
        // flex-direction: column;
        // align-items: center;
        // gap: 10px;
        margin-bottom: 10px;
    }

    .circle-border-contact {
        height: 20px !important;
        width: 20px !important;
        margin-left: 10px !important;
        margin-top: 10px !important;
    }
}

@media (max-width: 320px) {

    section {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .hero img {
        width: 100%;
        height: 250px;
        margin-top: 68px !important;
        border-radius: 10px;
    }

    .bottom-right-box{
        width: 100%;
        left: 0px;
        height: 170px;
        padding: 10px;
        bottom: 0px;
    }

    .hero-text {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 10px;
        width: 90%;
    }

    .hero-text h4 {
        font-size: 1.2em; /* Reduce font size */
        text-align: start;
        margin-top: 40px;
        font-weight: 600;
    }

    .hero-text p {
        font-size: 0.6em; /* Adjust paragraph size */
        text-align: start;
        font-weight: 400;
        color: #161616;
        margin-top: 10px !important;
    }

    
    .contact-container {
        flex-direction: column;
        padding: 0px;
    }

    .contact-box {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .contact-item {
        text-align: left;
        padding: 8px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .contact-item h3 {
        font-size: 14px;
        width: 100%;
        margin-top: 1px !important;
        text-align: center;
    }

    .contact-item p {
        font-size: 12px;
        display: flex;
        align-items: center;
    }

    .contact-item i {
        font-size: 16px;
        min-width: 20px;
        color: var(--primary-color);
    }

    .contact-item a {
        font-size: 12px;
        text-decoration: none;
        color: #bbb;
    }

    .contact-item a:hover {
        color: var(--primary-color);
    }

    .qr-code {
        display: flex;
        justify-content: center;
        margin-top: 8px;
    }

    .qr-code img {
        width: 70px;
        height: 70px;
    }

    .circle-border-contact {
        height: 21px !important;
        width: 21px !important;
        margin-left: 8px !important;
        margin-top: 0px !important;
    }

    .contact-us {
        font-size: 20px !important;
    }
}
