<!-- FOOTER -->
<!-- <footer class="footer d-flex justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center" style="margin-left:5px;">
                Copyright © 2024 <a href="javascript:;">InstaRoof.</a> All rights reserved
            </div>
        </div>
    </div>
</footer> -->
<!-- FOOTER CLOSED -->
<footer class="footer d-flex justify-content-center" style="min-height: 60px !;">
    <div class="container" style="padding: 5px !important;">
        <div class="row">
            <div class="col-md-10 text-center">
                <div style="display: inline-block;text-justify: inter-cluster; margin-left:0%;">
                    Copyright © 2024 - 25 <a href="/pages/homepage">Avantza Technologies Pvt Ltd.</a>
                </div>
            </div>
        </div>
    </div>
</footer>