.bold-placeholder::placeholder {
    color: black;
}

::ng-deep .swal2-container {
    z-index: 99999 !important;
}

.container-fluid {
    padding-top: 0% !important
}

.main {
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}

/************ New Figma Design **************/

.title-card {
    background-color: #F6F6F6;
    border: 1px solid #CBCBCB;
}

.title-text {
    font-weight: 600;
    font-size: 16px;
    color: #969696;
}

.title-value {
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.title-amount {
    font-weight: 600;
    font-size: 22px;
    color: #200D63;
}

.details-title {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.p {
    width: 80px;
}

.preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ccc;
}

.crossmark {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 12px;
    /* Small width */
    height: 15px;
    /* Small height */
    font-size: 12px;
    /* Smaller text */
    line-height: 10px;
    padding: 0;
    //border-radius: 50%;
    /* Circular button */
    background: red;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}