<main class="loader-container" *ngIf="isLoader">
    <svg class="ip" viewBox="0 0 256 128" width="256px" height="128px" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient id="grad1" x1="0" y1="0" x2="1" y2="0">
                <stop offset="0%" stop-color="#5ebd3e" />
                <stop offset="33%" stop-color="#ffb900" />
                <stop offset="67%" stop-color="#f78200" />
                <stop offset="100%" stop-color="#e23838" />
            </linearGradient>
            <linearGradient id="grad2" x1="1" y1="0" x2="0" y2="0">
                <stop offset="0%" stop-color="#e23838" />
                <stop offset="33%" stop-color="#973999" />
                <stop offset="67%" stop-color="#009cdf" />
                <stop offset="100%" stop-color="#5ebd3e" />
            </linearGradient>
        </defs>
        <g fill="none" stroke-linecap="round" stroke-width="16">
            <g class="ip__track" stroke="#ddd">
                <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56" />
                <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64" />
            </g>
            <g stroke-dasharray="180 656">
                <path class="ip__worm1" stroke="url(#grad1)" stroke-dashoffset="0"
                    d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56" />
                <path class="ip__worm2" stroke="url(#grad2)" stroke-dashoffset="358"
                    d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64" />
            </g>
        </g>
    </svg>
</main>

<div class="login-container">
    <div class="left-half">
        <img src="./assets/images/Left%20Content%20(1).svg" alt="Image" class="full-image">
    </div>
    <div class="right-half">
        <img src="./assets/images/solar_junction_logo.png" alt="Logo" class="logo">

        <!-- <h1 class="text" style="display:block;">Hello Again!</h1> -->
        <form [formGroup]="otpForm" (ngSubmit)="Submit()" class="mt-4">
            <h1 class="text mt-4" style="display:block;">Hello Again!</h1>


            <div>
                <div class="form-group">
                    <div class="row">

                        <div>
                            <!-- <h4 for="loginType">OTP
                            </h4> -->
                        </div>

                        <div class="row mt-4">

                            <div class="w-80 email input-container mb-2" *ngIf="method == 'email'">
                                <i class="fa fa-shield fs-24 icon" aria-hidden="true"></i>
                                <input type="text" [maxlength]="6" onkeypress="return /[0-9]/.test(event.key)"
                                    [(ngModel)]="otp" placeholder="Enter 6-digit OTP" formControlName="Otp"
                                    (keydown.enter)="Submit()" #emailOtpInput class="form-control">

                            </div>


                            <div class="w-80 email input-container mb-2" *ngIf="method != 'email'">
                                <i class="fa fa-shield fs-24 icon" aria-hidden="true"></i>
                                <input type="text" maxlength="6" onkeypress="return /[0-9]/.test(event.key)"
                                    [(ngModel)]="otp" [maxlength]="6" placeholder="Enter 6-digit OTP"
                                    formControlName="Otp" (keydown.enter)="Submit()" #mobileOtpInput
                                    class="form-control">
                            </div>

                        </div>

                    </div>
                </div>
            </div>


            <div *ngIf="method == 'email'">

                <button type="submit" class="button-sendOtp">
                    Verify OTP
                </button>
            </div>

            <div *ngIf="method != 'email'">
                <button type="submit" class="button-sendOtp">
                    Verify OTP
                </button>
            </div>


            <div>
                <p class="text-dark mb-0 mt-2">
                    <a routerLink="/auth/login" class="ms-1 color fw-bold">
                        Back</a>
                </p>
            </div>

            <div class="mt-2">
                <small *ngIf="errorMessage.length > 0" class="text-danger">{{ errorMessage }}</small>
            </div>

        </form>
    </div>
</div>